/*---Header---*/
header {
    background-color:#0F1329;
}
nav img {
    max-width: 30px;
}



.container {
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
}

.container img {
    max-width: 200px;
    border: 2x solid grey;
    border-radius: 5px;
}

button {
    color: white;
    background-color: darkslategray;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.35s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: black;
}